* text=auto

*.css text
*.html text
*.js text
*.json text
*.md text
*.svg text
*.txt text

*.mp3 binary
*.png binary
*.woff2 binary

.vscode/*.json text linguist-language=jsonc
manifest.json text linguist-language=jsonc
