* text=auto

.vscode/*.json text linguist-language=jsonc
*.code-snippets text linguist-language=jsonc
*.css text
*.html text
*.js text
*.json text
*.md text
*.svg text
*.txt text

*.mp3 binary
*.png binary
*.woff2 binary
